.Container8 {
}
.Title4 {
  margin: 20px;
}
.FilterContainer {
  display: flex;
  justify-content: space-between;
}

.Filter {
  margin: 20px;
}
.FilterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.Select2 {
  padding: 10px;
  margin-right: 20px;
}
.Option2 {
}
