.Info3 {
  
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
  
}

.Container7 {
  
  flex: 1;
  min-width: 280px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;
}

.Circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}

.Image5 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.Icon5 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
  
}

.Container7:hover .Info3{
  opacity: 1;
}

.Icon5:hover{
  background-color: #e9f5f5;
  transform: scale(1.1);

}