.container {
  height: 60px;
  background: #fcf9f7;
}

.wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
}

.language {
  font-size: 14px;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-left: 25px;
  padding: 5px;
}

.input {
  border: none;
}

.center {
  flex: 1;
  text-align: center;
}

.logo {
  font-weight: bold;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menuItem {
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.imgLogo {
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
}

.selection-logo {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  width: 228px;
}

.Titlelogo {
  color: #394149;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  margin-left: 75px;
}
